#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #c5a581;
}

.container {
  display: flex;
  flex-direction: column; /* If you want them stacked vertically */
  align-items: center; /* This will center the blocks horizontally */
  justify-content: center; /* This will center the blocks vertically (if needed) */
  min-height: 100vh; /* Makes sure the container fills the whole height of the viewport */
  padding: 30px;
}

text {
  font-family: "'Helvetica Neue', Arial, sans-serif";
  font-size: '2rem';  /* Adjust font size for better readability */
  font-weight: 400;  /* Regular font weight for text */
  line-height: 1.5; /* Adjust line height for clarity */
  color: '#f5f5dc'; /* Beige color for the rest of the text */
}

.title {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 4rem;  /* Adjust font size for better readability */
  font-weight: 400;  /* Regular font weight for text */
  color: #9c6f44; /* Beige color for the rest of the text */
  padding-top: 20px;
  margin: 0px;
  margin-top: 10px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  background: #3c220f;
  border-radius: 45px;
  padding: 20px;
  margin: 0;
  width: 1200px;
}

.summary {
  font-size: 1.4rem;
  color: #f5f5dc;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
